---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<ul>
  <li><strong>Fine-Scale Soil Mapping in Alaska with Multimodal Machine Learning</strong>
    <ul>
      <li><em>Authors:</em> Yijun Lin, Theresa Chen, Colby Brungard, Sabine Grunwald, Sue Ives, Matt Macander, Timm Nawrocki, Yao-Yi Chiang, and Nic Jelinski</li>
      <li>Published in the Applications track at SIGSPATIAL 2025, <a href="https://arxiv.org/html/2506.17302v1">arXiv link</a></li>
    </ul>
  </li>
  <li><strong>DIGMAPPER: A Modular System for Automated Geologic Map Digitization</strong>
    <ul>
      <li><em>Authors:</em> Weiwei Duan, Yao-Yi Chiang, Theresa Chen, Michael P. Gerlek, Leeje Jang, Sofia Kirsanova, Craig A. Knoblock, Fandel Lin, Yijun Lin, Zekun Li and Steven N. Minton</li>
      <li>Published in the Industry track at SIGSPATIAL 2025, <a href="https://arxiv.org/pdf/2506.16006?">arXiv link</a></li>
    </ul>
  </li>
  <li><strong>MiTREE: Multi-input Transformer Ecoregion Encoder for Species Distribution Modelling</strong>
    <ul>
      <li><em>Authors:</em> Theresa Chen, Yao-Yi Chiang</li>
      <li>Published in the GeoAI Workshop at SIGSPATIAL 2024, <a href="https://arxiv.org/abs/2412.18995">arXiv link</a></li>
    </ul>
  </li>
</ul>